{#
/**
 * @file
 * Default theme implementation for dxpr_gridstack_gridstack_style plugin.
 */
#}

{% if title %}
<h3>{{ title }}</h3>
{% endif %}
<div id="sooperthemes-gridstack-gridstack-{{ id }}" {{ attributes.addClass('sooperthemes-gridstack-gridstack-live').addClass(classes) }}>
  <div class="grid-stack">
    {% for key, item_position in layout_data %}
    <div class="grid-stack-item{% if key > gridstack_items_mobile %} sooperthemes-gridstack-util-hidemobile{% endif %}"
         data-gs-x="{{ item_position.x }}"
         data-gs-y="{{ item_position.y }}"
         data-gs-width="{{ item_position.width }}"
         data-gs-height="{{ item_position.height }}">
      <div class="grid-stack-item-content" {{ gridstack_margin|raw }}>
        {{ rows[key].content }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{{ attach_library('dxpr_gridstack/dxpr_gridstack') }}

